<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Make My Shop</title>
  <link href="/assets/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/site.css" rel="stylesheet">
</head>
<body>

<div class="home-app">
  <section class="section-welcome">

    <h1>Make My Shop</h1>

    <p>
      {{ site }}
    </p>

    <a id="instagramLoginButton" href='/auth/instagram/login'>
      Login
    </a>


  </section>
</div>


<script src="/assets/bootstrap.bundle.min.js"></script>
<script src="/assets/site.js"></script>

</body>
</html>
