<div class="col-lg-4 col-md-6 mb-4">
  <div class="card text-center h-100">
    <a href="https://opio-deporte.com/product/77/"><img class="card-img-top" src="https://opio-deporte.com/media/Opium-3334.jpg" alt="..." /></a>
    <div class="card-body">
      <h3 class="card-title">
        <a class="item" style="text-decoration: none; color: black;"
           href="https://opio-deporte.com/product/77/">Худі &quot;Критичні дні&quot; w</a>
      </h3>
      <h5 class="mt-4">2325,0 UAH</h5>
      <a href="https://opio-deporte.com/add_to_cart/77/">
        <button class="btn btn-outline-dark mt-4">До кошика</button>
      </a>
    </div>
  </div>
</div>
