<div class="col-lg-4 col-md-6 mb-4">
  <div class="card text-center h-100">
    <a href="#">
      <img class="card-img-top" src="https://via.placeholder.com/420x640" alt="..." />
    </a>
    <div class="card-body">
      <h3 class="card-title">
        <a class="item" style="text-decoration: none; color: black;" href="#">
          Product Name, имя продукта
        </a>
      </h3>
      <h5 class="mt-4">2325,0 UAH</h5>
      <a href="#">
        <button class="btn btn-outline-dark mt-4">До кошика</button>
      </a>
    </div>
  </div>
</div>
