<footer class="container-fluid text-center py-5">
  <a href="https://instagram.com/opio.deporte?igshid=YmMyMTA2M2Y=">
    <img style="border-radius: 25px" src="https://opio-deporte.com/static/social/insta.png" alt="image">
  </a>

  <a href="https://t.me/opio_deporte">
    <img style="height: 50px; weight: 50px; border-radius: 25px;" src="https://opio-deporte.com/static/social/telega.png" alt="image">
  </a>

  <div class="container my-3"><p class="m-0 text-center">&copy; OPIO.DEPORTE, 2022</p></div>
</footer>

