<footer class="container-fluid text-center py-5">
  <a href="#">
    <img style="border-radius: 25px" src="{{ asset 'assets/shop/insta.png' }}" alt="image">
  </a>

  <a href="#">
    <img style="height: 50px; weight: 50px; border-radius: 25px;" src="{{ asset 'assets/shop/telega.png' }}" alt="image">
  </a>

  <div class="container my-3">
    <p class="m-0 text-center">
    &copy; {{ user.instagramUsername }}, 2023
    </p>
  </div>
</footer>

