<nav class="navbar fixed-top bg-black text-white">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="https://opio-deporte.com/">

      <img style="width: 35px; height: 35px;" src="https://opio-deporte.com/static/main_logo/IMG_2531.PNG"></a>

    <a class="nav-link" style="font-size: 12px;" href="https://opio-deporte.com/aboutus/">Про нас</a>
    <a class="nav-link" style="font-size: 12px;" href="https://opio-deporte.com/offer/">Оферта</a>
    <a class="nav-link" style="font-size: 12px;" href="https://opio-deporte.com/contacts/">Контакти</a>

    <form class="d-flex py-3">
      <button class="btn btn-outline-dark" type="submit">
        <i class="bi-cart-fill me-1"></i>
        <a style="text-decoration: none; font-size: 14px;" href="https://opio-deporte.com/cart/" class="link-light">Кошик
          <span class="badge bg-white text-black ms-1 rounded-pill">0</span></a>
      </button>
    </form>
  </div>
</nav>


<header>
  <div class="container-fluid text-center">
    <h3 style="font-size: 45px" class="mt-5 py-5">OPIO.DEPORTE</h3>
  </div>
</header>
