<div class="container text-center">
  <div class="row row-cols-2 row-cols-lg-1 row-cols-md-1">

    <table class="my-2">
      <tr>
        <td><a style="padding: 2% 5%; text-decoration: none; color: black; font-size: 25px;" href="#"> Каталог 1 </a></td>
      </tr>
    </table>


    <table class="my-2">
      <tr>
        <td><a style="padding: 2% 5%; text-decoration: none; color: black; font-size: 25px;" href="#"> Каталог 2 </a></td>
      </tr>
    </table>


    <table class="my-2">
      <tr>
        <td><a style="padding: 2% 5%; text-decoration: none; color: black; font-size: 25px;" href="#"> Каталог 3 </a></td>
      </tr>
    </table>


    <table class="my-2">
      <tr>
        <td><a style="padding: 2% 5%; text-decoration: none; color: black; font-size: 25px;" href="#"> Каталог 4 </a></td>
      </tr>
    </table>


    <table class="my-2">
      <tr>
        <td><a style="padding: 2% 5%; text-decoration: none; color: black; font-size: 25px;" href="#"> Каталог 5 </a></td>
      </tr>
    </table>

    <table class="my-2">
      <tr>
        <td><a style="padding: 2% 5%; text-decoration: none; color: black; font-size: 25px;" href="#"> Каталог 6 </a></td>
      </tr>
    </table>


    <table class="my-2">
      <tr>
        <td><a style="padding: 2% 5%; text-decoration: none; color: black; font-size: 25px;" href="#"> Каталог 7 </a></td>
      </tr>
    </table>


  </div>
</div>
